.card-product {
  display: flex;
  flex-direction: column;
  width: var(--width-productCard);
  cursor: pointer;
  background-color: var(--color-bg);
}

.card-product:hover {
  box-shadow: var(--box-shadow);
}

.product-details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.product-name {
  padding: 0.3rem 0;
}

.container-product-img {
  height: 240px;
  width: 100%;
  overflow: hidden;
}

.card-product img {
  width: 100%;
  height: 100%;
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container-buttons button {
  width: 100%;
}

.container-buttons .btn-quantity {
  width: max-content;
}
