.header-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  padding: 0 0.5rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--color-header-bg);
  color: white;
  font-size: 1.5rem;
}

.header-app nav {
  display: flex;
  gap: 1rem;
}
